dash==2.2.1
dash_bootstrap_components==1.0.3
datasets==1.18.3
ipython==8.2.0
jiwer==2.3.0
librosa==0.8.1
nemo==3.16.0
nemo_toolkit==1.6.2
numpy==1.21.2
pandas==1.2.4
plotly==5.6.0
pyctcdecode==0.3.0
PyYAML==6.0
scipy==1.7.3
SoundFile==0.10.3.post1
transformers==4.15.0
pypi-kenlm
https://github.com/pyannote/pyannote-audio/archive/develop.zip
