dash==2.3.1
dash_bootstrap_components==1.1.0
datasets==1.18.4
ipython==8.2.0
jiwer==2.3.0
librosa==0.9.1
matplotlib==3.5.1
nemo==3.16.0
numpy==1.21.0
pandas==1.4.1
plotly==5.6.0
pyannote.pipeline==1.5.2
pytorch_lightning==1.6.0
PyYAML==6.0
scipy==1.7.3
SoundFile==0.10.3.post1
transformers==4.17.0
