/* CSS used here will be applied after bootstrap.css */
/*.app-header {*/
/*    height: 60px;*/
/*    line-height: 60px;*/
/*    border-bottom: thin lightgrey solid;*/
/*}*/

/*.app-header .app-header--title {*/
/*    font-size: 22px;*/
/*    padding-left: 5px;*/
/*}*/

/*body {*/
/*    font-family: sans-serif;*/
/*}*/
/*h1, h2, h3, h4, h5, h6 {*/
/*    color: hotpink*/
/*}*/
.nav-pills .nav-link.active {
    color: #ffffff;
    background-color: #a0a0a0;
}

.nav-pills a {
    color: #ffffff;
    /*background-color: #a0a0a0;*/
}

.nav-pills a:hover {
    color: #858585;
    border-radius: 0px;
}
*[data-dash-is-loading="true"]{
    visibility: hidden;
}
*[data-dash-is-loading="true"]::before{
    content: "Loading...";
    color: #18453b;
    visibility: visible;
    margin-top: 50%;
    margin-left: 30%;
}